

/*
* {
  
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
*/


body {
  margin: 0;
  padding: 0;
}


.social {
  position: relative;
  top: 100px;
  margin: auto;
  text-align: center;
  font-size:60px;

}

.content {
  position: absolute;
  left: 0;
  right: 75px;
}

.btn {
  display: inline-block;
  margin: 50px;
  width: auto;    
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: rgb(152, 218, 232);
  text-decoration: none;
  color: black;
}

a {
  color: #ffffff;
}

a:hover{
  background: rgb(152, 218, 232);
  text-decoration: none;
  color: black;
}


/*
img {
  max-width: 100%;
  height: auto;
  padding: 10px;
  display: block; 
  border-radius: 50%;
  margin: auto;
  margin-top: 80px;
  width: 50%;
  clear: left;
}
*/

img {
  display: block; 
  margin top: 500px;
  margin: auto;
  width: 35%;
  border-radius: 50%;
  position: relative;
  top: 270px;
  clear: left;
  
}

