
/*
* {
  
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
*/


body {
  margin: 0;
  padding: 0;
}


h1 {
  margin: auto;
  width: 50%;
  
  margin-top: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
}


.social {
  margin: auto;
  width: 30%;
  padding: 5px;
  font-size:60px;
  text-align: center;
}


.content {
  margin: auto;
  width: 50%;
  text-align: center;
}

.btn {
  display: inline-block;
  margin: 20px;  
  width: 150px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: rgb(152, 218, 232);
  text-decoration: none;
  color: black;
}


a {
  color: inherit; 
  text-decoration: inherit; 
}

i {
  padding-right: 100px;
  padding-left: 100px;

}

i:hover {
  color: rgb(152, 218, 232);
}

#bottomline {
  margin: auto;
  width: 50%;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}


/*
img {
  max-width: 100%;
  height: auto;
  padding: 10px;
  display: block; 
  border-radius: 50%;
  margin: auto;
  margin-top: 80px;
  width: 40%;
  clear: left;
}
*/

img {
  display: block; 
  margin: auto;
  width: 30%;
  border-radius: 50%;
  
  
  clear: left;
  
}




