
/*
* {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
*/

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Lato:700,900);



body {
  
  animation: colorchange 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 50s; /* Chrome and Safari */
  animation-iteration-count: 100;
}

  @keyframes colorchange
    {
      0%   {background: white;}
      20%  {background: #E8E664;}
      40%  {background: #FFA87D;}
      60%  {background: #66E8A5;}
      80%  {background: #FF70AB;}
      100% {background: white;};}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: white;}
      20%  {background: #E8E664;}
      40%  {background: #FFA87D;}
      60%  {background: #66E8A5;}
      80% {background: #FF70AB;}
      100% {background: white;};}
    }

body {
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  
}


.navbar a {
  
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
 background-color:rgb(154, 217, 234);
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 } 


img {
  max-width: 100%;
  height: auto;
  padding: 10px;
  display: block; 
  border-radius: 50%;
  margin: auto;
  margin-top: 80px;
  width: 50%;
  clear: left;
}



.text-longshadow {
  max-width: 100%;
  height: auto;
  margin-top: 50px;
  color: black;
  font-size: 8rem; 
  line-height: 8rem;
  font-family: lato;
  font-weight: 900;
  text-align: center;
  @include text-shadow(longshadow(darken($bg,30%),$bg,50, 0.5));
}


